---
import { getCollection } from 'astro:content';
import ServiceCard from './ServiceCard.astro';

interface Props {
  featuredOnly?: boolean;
}
const { featuredOnly = false } = Astro.props;
const allServices = await getCollection('services');
const services = (featuredOnly ? allServices.filter((s) => s.data.featured) : allServices).sort(
  (a, b) => a.data.order - b.data.order
);
---
<div class="services__grid">
  {services.map((service) => (
    <ServiceCard title={service.data.title} icon={service.data.icon} excerpt={service.data.excerpt} />
  ))}
</div>
