<div class="cookie-banner" id="cookieBanner" hidden>
  <div class="cookie-banner__icon">🍪</div>
  <div class="cookie-banner__content">
    <p class="cookie-banner__title">Usamos cookies</p>
    <p class="cookie-banner__text">
      Utilizamos cookies para mejorar tu experiencia. Consulta nuestra
      <a href="#">Política de privacidad</a> para más información.
    </p>
  </div>
  <div class="cookie-banner__actions">
    <button class="btn btn-outline btn-sm" id="cookieReject">Rechazar</button>
    <button class="btn btn-primary btn-sm" id="cookieAccept">Aceptar todo</button>
  </div>
</div>
