<button id="scrollTop" class="scroll-top scroll-top--right" aria-label="Volver arriba">
  <i data-lucide="arrow-up"></i>
</button>
<script>
  import { initScrollTop } from '../../scripts/scroll-top';
  initScrollTop();
</script>
